/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: mintcream;
  color: black;
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  min-height: 100vh; /* Ensure full viewport height */
}

.container {
  width: 100%;
  max-width: 850px; /* Limit content width */
  text-align: center; /* Center text within the container */
  padding: 20px; /* Add some spacing around the content */
}

header {
  text-align: center;
  margin-bottom: 20px; /* Add spacing below the header */
}

img {
  max-width: 150px;
  display: block; /* Center the logo horizontally */
  margin: 0 auto; /* Center the logo horizontally */
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
}

p {
  font-size: 22px;
  font-style: italic;
}

main {
  font-size: 20px;
  margin-top: 48px;
}

details {
  background-color: powderblue;
  border: 1px solid black;
  margin-bottom: 20px; /* Add spacing between entries */
}

details[open] {
  padding: 10px;
}

summary {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  cursor: pointer;
}

span {
  color: lavenderblush;
  font-size: 18px;
}

footer {
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
