/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: mintcream;
  color: black;
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  min-height: 100vh; /* Ensure full viewport height */
}

header {
  text-align: center;
}

img {
  max-width: 150px;
  float: left;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
}

p {
  font-size: 22px;
  font-style: italic;
}

main {
  font-size: 20px;
  margin-top: 48px;
  width: 80%;
}

summary {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  cursor: pointer;
  text-align: left; /* Center summary text horizontally */
  padding-left: 20px;
}

details {
  background-color: powderblue;
  border: 1px solid black;
  margin-bottom: 10px;
}

details[open] {
  padding: 10px;
}

span {
  color: lavenderblush;
  font-size: 18px;
}

footer {
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
